body
{
    background:url("yone.png" ) no-repeat right top fixed, linear-gradient(to right ,#3300DB,#FFC300, #FF5733,#C70039,#900C3F,#581845);
   background-color: ;
    height: 500px; 
   margin: 0px;
  position: relative;


}
.header
{
    background-color: gray;
    height: 80px;
    margin: 10px;
}

nav ul li{
    list-style-type: none;
    display:  inline-block;
    padding: 50px;
}

ul li a{
    color: #141572;
    letter-spacing: 0.2rem;
}
ul li a:hover
{
    color: black;
    text-decoration: underline;
}

.menu li{
    float: left;
    padding: 35px;
}

#titre
{
    border:1px solid;
    padding: 10px;
}

.menu li a {

    text-decoration: none;
}

.soucis
{   
    position: absolute;
top: 40px;
    
}

.pas{
    position: absolute;
    top: 60px;
    right: 400px;

}